.jxc-prod-management{
    height: 100%;
    width: 100%;
    background-color:white;
    padding:16px;
    box-sizing: border-box;
    >header{
        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        justify-content: flex-end;
    }

    .jxc-table{
        height:calc(100% - 96px);
    }

    .jxc-pagination{
        height:40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }   

    .form-content{
        padding: 30px 16px 0;
    }
}